<!DOCTYPE html>
<html>
	<head>
		<title>Braintree</title>
		<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'>
	</head>
	<body>
		<div class='container'>
			<h1>Integrations</h1>
			<p>Braintree provides payment processing options<p>
			<a href = "/headlesspaypal"><h2>Headless PayPal</h2></a>
			<p>If you wish to open the PayPal auth flow using a button other than the one provided by Braintree, you must use a combination of a headless PayPal integration and the paypal.initAuthFlow method returned from the onReady callback.<p>
			<a href = "/hostedfields"><h2>Hosted Fields</h2></a>
			<p>Hosted Fields are small, transparent iframes that replace the sensitive credit card inputs in your checkout flow - helping you meet the latest data security requirements while ensuring your customization doesn't suffer.<p>
			<a href = "/dropin"><h2>Drop-in UI</h2></a>
			<p>Braintree v.zero sdk offers a complete, readymade payment UI for easy integration into your app or website. The UI includes a card entry form and – if enabled – a PayPal button. When a user completes the UI, your client code obtains a payment method nonce for use on your server.<p>
		</div>
	</body>
</html>